{% extends 'base.html.twig' %}

{% block title %} Departements {% endblock %}

{% block centre %}

	<h1>Liste des Departements !
	</h1>
    <a href="{{ path('departement_new') }}" class="btn btn-primary">Creer Nouveau ! </a>
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
                <th> Actions</th>
			</tr>
		</thead>

		{% for departement in departements %}
			<tr>
				<td>{{ departement.id }}</td>
				<td>{{ departement.nom }}</td>
                <td>
                <a href="{{ path('departement_edit', {'id': departement.id}) }}" class="btn btn-success">edit</a>
                </td>
            </tr>
		{% else %}
            <tr>
                <td colspan="5">Pas de Départements</td>
            </tr>
		{% endfor %}

	</table>

	{# <style>
	    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
	    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
	</style>
	
	<div class="example-wrapper">
	    <h1>Hello {{ controller_name }}! ✅</h1>
	
	    This friendly message is coming from:
	    <ul>
	        <li>Your controller at <code><a href="{{ '/var/www/html/Galloc/src/Controller/DepartementController.php'|file_link(0) }}">src/Controller/DepartementController.php</a></code></li>
	        <li>Your template at <code><a href="{{ '/var/www/html/Galloc/templates/departement/index.html.twig'|file_link(0) }}">templates/departement/index.html.twig</a></code></li>
	    </ul>
	</div> #}
{% endblock %}
